<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Add the url for the api -->
    <add key="APIUrl" value="http://api.colombiainfo.org/" />
  </appSettings>
</configuration>